[Unit]
Description=Node.js Web Application Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/csye6225/server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/csye6225

[Install]
WantedBy=multi-user.target
