[Unit]
Description=Node.js Web Application Service
ConditionPathExists=/opt/csye6225/.env
After=network.target mysql.service

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
EnvironmentFile=/opt/csye6225/.env
ExecStart=/usr/bin/node /opt/csye6225/server.js
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target

